.mainContainer {
  height: 100vh;
}

.grid {
  height: 85%;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  min-height: 0;
}

.row div {
  flex-grow: 1;
}

.row div:hover {
  cursor: pointer;
}

.alive {
  color: blue;
  background-color: #32a956;
}

.dead {
  color: gray;
  background-color: #1f201f;
}
